.lt_sort{
    background-color: #eee;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding: 0 10px;
}
.lt_sort a{
    float: left;
    width: 25%;
    color: #666;
    text-align: center;
}
.lt_sort a.now{
    color: darkorange;
}